@import "variables";
@import "config";
@import "menu";
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
}

.bg {
  clip-path: polygon(calc(100% - 35vw) 0, 100% 0, 100% 100%, 0 100%);
  background: $gray;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card {
  border-left: 3px lighten($primary, 50) solid;
  padding-left: 2em;
  height: 100px;
  margin-top: 18vh;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: $primary;
  &.lg-heading {
    font-size: 5.5em;
    span.secondary {
      color: darken($secondary, 1.5);
    }
  }

  &.sm-heading {
    font-family: "Sarpanch";
    font-size: 3.5rem;
    width: auto;
    &::after {
      content: ".";
      visibility: hidden;
    }
  }
}

main {
  .icons {
    a {
      padding: 0.4rem;
      text-decoration: none;
      color: $primary;

      &:hover {
        color: $secondary;
      }
    }
  }
}

main {
  padding: 4rem;
}

@import "mobile";
